<!DOCTYPE html>
<html lang="en">
   <%- include("../partials/head.ejs") %> <!-- Head file-->

   <body>
      <header class="banner">
         <%- include("../partials/nav.ejs") %> <!-- Head file-->
      </header>
      <h1>Login to your account</h1>
      <%- include("../partials/message.ejs") %>
      <form action="/users/login" method="POST">
         <div class="form-row">
            <label for="email">Email: </label>
            <input type="email" name="email" id="email" value="<%= typeof email == 'undefined' ? '' : email %>" required>
         </div>
         <div class="form-row">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" value="<%= typeof password == 'undefined' ? '' : password %>" required>
         </div>
         <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a href="/users/register">Register</a></p>
      <%- include("../partials/footer.ejs") %> <!-- Head file-->
   </body>
</html>